
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Ignore other test files
/tests/*
!/tests/Client.spec.js
!/tests/ClientAppCopy.spec.js
!/tests/ClientAppCopy.spec.ts

# Ignore reports
/allure-report/
/allure-results/
/playwright-report/
/test-results/

# Ignore screenshots
/screenshots/
/Screenshots1/
